@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Regular.woff2') format('woff2'),
        url('GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Bold.woff2') format('woff2'),
        url('GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    background-image: url(../Images/Light/Dashboard_Background_Light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Glacial Indifference', sans-serif;
}

.title {
    font-family: 'Glacial Indifference';
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    font-size: 275%;
    color: #002D40;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.details{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    gap: 20px;
}

.label{
    font-family: 'Glacial Indifference';
    color: #002D40;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.input{
    background-color: #D9ECF2;
    display: flex;
    color: #1AA6B7;
    width: 500px;
    height: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Glacial Indifference';
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 20px;
}

.Button-Row{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    margin-top: 30px;
    margin-left: 10%;
    padding-left: 10%;
    margin-right: 10%;
    padding-right: 10%;
}

.add-button {
    background-color: #00BF63;
    color: #002D40;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.return-button{
    background-color: #002D40;
    color: #D9ECF2;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
}